Day4_NewsDigest.json
{
  "name": "Daily Placement News Digest",
  "nodes": [
    {
      "parameters": {
        "url": "https://news.ycombinator.com/rss",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        416,
        0
      ],
      "id": "6a147c39-7677-4f3e-94d1-587419d02333",
      "name": "RSS Read",
      "executeOnce": false
    },
    {
      "parameters": {
        "maxItems": 3
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        624,
        0
      ],
      "id": "3b63929f-0dd4-4633-a8de-41b315d05c9e",
      "name": "Limit"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.3-70b-versatile\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are an AI assistant that summarizes RSS feed articles into concise email digests.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Summarize this article:\\n\\n{{ $json.contentSnippet || $json.content }}\"\n    }\n  ],\n  \"temperature\": 0.7,\n  \"max_tokens\": 300\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        768,
        0
      ],
      "id": "a5b1a74d-ed85-4a11-a2c1-8e3f95037d96",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "NghHuCTBh1BYerFV",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "shaify@gmail.com",
        "subject": "=Placement News Digest — {{$now.format(\"dd MMM yyyy\")}}",
        "emailType": "text",
        "message": "=Good morning. Today's placement news digest:  {{ $json[\"candidates\"][0][\"content\"][\"parts\"][0][\"text\"] }}  Sent automatically by n8n at 7:00 AM IST.",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        976,
        0
      ],
      "id": "cf261da3-d664-4f24-89de-d96a44a8e9f5",
      "name": "Send a message",
      "webhookId": "2d016621-ed53-4bec-abd0-d6cd1df5af6c",
      "credentials": {
        "gmailOAuth2": {
          "id": "0UGxARnVQ6eS7w99",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        208,
        0
      ],
      "id": "be7880ca-adce-4987-8ee6-ddbca14d8b1f",
      "name": "Schedule Trigger"
    }
  ],
  "pinData": {},
  "connections": {
    "RSS Read": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "1f045fa1-b4c4-4fbd-9155-585dee853904",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "972b0c1dbb604afd618e61dab27129c046fd9ca565f3800e5739d324862ec88c"
  },
  "id": "gU4J8pqCdRjYoJas",
  "tags": []
}